body {
  display: flex;
  text-align: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(27, 27, 27);
  color: white;
}

.pokemon-info_container {
  padding: 70px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: capitalize;
  gap: 50px;
}

.pokemon-info {
  font-size: 48px;
  font-weight: 700;
}
.pokemon-info > span {
  font-weight: 100;
}